<%- include('partials/navbar') %>
<div class="container mt-4">
  <h1>My Recipes</h1>
  <div class="row">
    <% userRecipes.forEach(recipe => { %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.description %></p>
            <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">Edit Recipe</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
